.PostContainer {
    
    height: 100vh;
    max-width: 1200px;

}
.plContainer {
    display: flex;
    margin: 10em auto;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    

    
   
}

.plContainer  li{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(0, 68, 255);
    width: 10em;
    height: 8em;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}